@import "tailwindcss";

/* Tailwind v4 ではここにテーマ設定を書きます。
  これで bg-app-green などのクラスが自動生成されます。
*/
@theme {
  --color-app-green: #C5E365;
  --color-app-bg: #EFEFCD;
  --color-app-input: #E6E6E6;
  --color-app-blue: #B0CBE6;
}

/* Next.jsのデフォルトスタイルが邪魔をする場合があるので、
  bodyの背景色を明示的に指定しておくと安心です
*/
body {
  background-color: var(--color-gray-100);
}